.TopNavBar{
    height: 5rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gray-white, #FFF);
    /* Right side shadow */
    box-shadow: 32px 0px 40px -15px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 999;
    left: 0;
}

h1{
    color: #343434; font-size: 30px; font-family: Roboto; font-weight: 300; word-wrap: break-word;
}
.ImageIcon{
margin-right: 4px;
}
.TopNavBar span{
    color: #343434;
    font-size: 1.9rem;
    font-weight: 300;
    padding-left: 8px;
}

