.content{
    display:flex;
    flex-direction: row;
    flex-shrink: 0;
}
.Layout{
display:flex;
flex-direction: row;
height: 100vw;
height: 100vh;
background-color: #f1f1f1;
}
.Box{
    width: 100%;
    padding-left: 14.25rem;
}

.new_avtar{
    margin-bottom: 20px;
    text-align: right;
    padding-right: 48px;
    padding-top: 20px;
}
.new_avtar Button{
    color: #343434;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    padding: 0px 24px;
    border-color: #AFAFAF;
    text-transform: capitalize;
}
.new_avtar Button:hover{
    color: var(--primary-purple);
    border-color: var(--primary-purple);
}
.new_avtar Button svg{
    margin-right: 8px;
}

