body{
    margin: 0;
    width: 100%;
    height:100%;
    font-family: Roboto;
    overflow-y:hidden;
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);  /* Semi-transparent black */
    justify-content: center;
    align-items: center;
    z-index: 1000;  /* Ensure it appears on top */
}